*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}

:root {
    --text-size:16px;
    --text-size-head:32px;
    --text-size-head-child:20px;
    --letter-spacing:0px;
    --color-text:#4D4D4D;
    --color-text-head:#333333;
    --color-primary:#007EDA;
    --font-weight-regular: font-weight:400;
    --font-weight-bold: font-weight:700;
    --font-weight-medium: font-weight:500;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}