/* Website < 1520px */
.footer-content {
	height: 190px;
	overflow-x: hidden;
}

.footer-content__logo, .footer-content__contact, .footer-content__nav {
	margin-left: 120px;
}

.footer-content__logo img {
	width: 180px;
	height: auto;
}

.footer p {
	font-size: 16px;
}

.footer a {
	text-decoration: none;
	color: black;
}

.footer a:hover {
	color: #0d7ecd;
	font-weight: bold;
}

.footer .btn {
	background-color: #0d7ecd;
	color: white;
	width: 115px;
	height: 40px;
	border-radius: 5px;
}

.footer .btn:hover,
.footer .btn:focus {
	box-shadow: 5px 10px #0d7ecd;
	background-color: lightblue;
	color: black;
	transition: 0.8s;
}

.footer-end {
	height: 100px;
	width: 100%;
}

.social-media img {
	width: 30px;
	height: 30px;
}

.footer-end__content {
	margin-left: 120px;
	margin-right: 120px;
}

/* 1920px */
@media only screen and (min-width: 1920px) {
	.footer .container {
		min-width: 1600px;
	}
	.footer a, .footer-box-3 a, .footer-box-2 span, .footer .btn {
		font-size: 16pt !important;
	}
	.footer .btn {
		width: 140px;
		height: 50px;
	}
	.col-10 {
		width: 75% !important;
	}
	.footer-box-1 img {
		width: 55%;
	}
}

/* Tablet */
@media(min-width: 768px) and (max-width: 820px) {
	.footer-tail {
		align-items: center;
	}
	.footer .col-3 img {
		width: 96px;
	}
	.footer p {
		font-size: 9px;
	}	
	.footer a {
		text-decoration: none;
		color: black;
	}	
	.footer a:hover {
		color: #0d7ecd;
		font-weight: bold;
	}	
	.footer .btn {
		width: 72px;
		height: 25px;
	}	
	.footer .btn a {
		font-size: 9px;
	}
	.social-media img {
		width: 23px !important;
		height: 23px;
	}
}

/* Surface Duo */
@media only screen and (max-width: 540px) {
	.footer-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-box-1 {
		width: 100%;
		display: flex;
		justify-content: center;
		order: 1;
	}
	.footer-box-1 img {
		width: 140pt !important;
		height: auto;
		margin-top: 30pt;
	}
	.footer-box-2 {
		order: 3;
		margin-top: 59pt !important;
		width: 400pt !important;
		display: flex;
		flex-direction: column;
		align-items: flex-start !important;
	}
	.footer-box-3 {
		order: 2;
		margin-top: 58pt !important;
		width: 200pt !important;
		text-align: center;
	}
	.footer-box-2 .row {
		width: 100% !important;
	}

	.footer a, .footer-box-3 a, .footer-box-2 span, .footer .btn {
		font-size: 14pt !important;
	}
	.footer-box-2 img {
		width: 32px;
		height: 32px;
	}
	.footer .btn {
		width: 140pt;
		height: 40pt;
		margin-left: auto;
		margin-right: auto;
		border-radius: 5pt;
	}
	.col-10 {
		margin-left: 10pt !important;
	}
	.footer-tail {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.copyright {
		order: 2;
		width: 300pt !important;
		text-align: center;
		margin-bottom: 25pt !important;
	}
	.copyright .col {
		font-size: 12pt !important;
	}
	.social-media {
		order: 1;
		margin-bottom: 18pt;
		margin-top: 28pt !important;
		width: 300pt !important;
	}
	.social-media .col-1 {
		width: 50pt;
	}
	.social-media .row {
		justify-content: center !important;
	}
	.social-media img {
		width: 30pt !important;
		height: 30pt;
		padding: 0 !important;
		margin-left: 10pt;
		margin-right: 10pt;
	}
}

/* Iphone 12, Iphone XR, Iphone SE */
@media (min-width: 360px) and (max-width: 414px) {
	.footer .row {
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	.footer-box-3 {
		margin-top: 40pt !important;
	}
	.footer-box-3 button {
		margin-top: 10pt;
	}
	.footer-box-2 {
		margin-top: 40pt !important;
		width: 100% !important;
	}
	.footer-box-2 .row {
		width: 100% !important;
	}
	.footer-box-2 img {
		width: 16px;
		height: 16px;
	}
	.footer a, .footer-box-3 a, .footer-box-2 span, .footer .btn {
		font-size: 10pt !important;
	}
	.footer .btn {
		width: 80pt;
		height: 25pt;
	}
	.col-10 {
		margin-left: 0 !important;
	}
	.copyright {
		margin-bottom: 0 !important;
		display: flex;
		align-items: center;
	}
	.copyright .col {
		font-size: 10pt !important;
	}
	.social-media img {
		width: 18pt !important;
		height: 18pt;
		margin-left: 7pt;
		margin-right: 7pt;
	}
	.social-media {
		margin-bottom: 12pt;
		margin-top: 18pt !important;
	}
}

@media only screen and (max-width: 390px) {
	.footer-box-1 img {
		width: 130pt !important;
		margin-top: 20pt;
	}
	.footer-box-2, .footer-box-3 {
		margin-top: 30pt !important;
	}
	.footer a, .footer-box-3 a, .footer-box-2 span, .footer .btn, .copyright .col {
		font-size: 9pt !important;
	}
	.footer .container-fluid {
		padding: 10pt !important;
	}
	.footer .col-10 {
		padding-right: 0 !important;
	}
	.social-media {
		margin-bottom: 10pt;
		margin-top: 8pt !important;
	}
}