<div class="container-fluid p-5" style="background-color: #F5F5F5;">
    <div class="container">
        <div class="footer-box row p-3 align-item-center">
            <div class="col-3 footer-box-1">
                <img src="../../assets/svg/footer-svg/onschool-logo.png" alt="">
            </div>           
            <div class="col-6 footer-box-2">
                <div class="row pb-3">
                    <div class="col-1">
                        <img src="../../assets/svg/footer-svg/ic_map.svg" alt="">
                    </div>
                    <div class="col-10 ps-0">
                        <span >
                            VP tại Hà Nội: 60B Nguyễn Huy Tưởng, p. Thanh Xuân Trung, q. Thanh Xuân, Hà Nội 
                        </span>
                    </div>
                </div>
                
                <div class="row pb-3">
                    <div class="col-1">
                        <img src="../../assets/svg/footer-svg/ic_map.svg" alt="">
                    </div>
                    <div class="col-10 ps-0">
                        <span class="footer-link">
                            VP tại TPHCM: Số 9 Phan Kế Bính, P. Đakao, Quận 1, TpHCM
                        </span>
                    </div>
                </div>
            
                <div class="row pb-3">
                    <div class="col-1">
                        <img src="../../assets/svg/footer-svg/ic_mail.svg" alt="">
                    </div>
                    <div class="col-10 ps-0">
                        <span>
                            <a href="#">skill_lab@onschool.edu.vn</a>
                        </span>
                    </div>
                </div>
            
                <div class="row pb-3">
                    <div class="col-1">
                        <img src="../../assets/svg/footer-svg/ic_call.svg" alt="">
                    </div>
                    <div class="col-10 ps-0">
                        <span>
                            <a href="#">096 9698819</a>
                        </span>
                    </div>
                </div>
            
            </div>           
            <div class="col-3 footer-box-3">
                <div class="row pb-2">
                    <a href="#">Trang chủ</a>
                </div>
                <div class="row pb-2">
                    <a href="#">Giới thiệu</a>
                </div>
                <div class="row pb-2">
                    <a href="#">Skill LAB</a>
                </div>
                <div class="row pb-2">
                    
                    <a href="#">Tìm sinh viên</a>
                </div>
                <div class="row pb-2">
                    <a href="#">My Skill lab</a>
                </div>
                <div>
                    <span><button class="btn d-flex justify-content-center align-items-center"><a>Đăng nhập</a></button></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-3" style="background-color: #E6E6E6;">
    <div class="container">
        <div class="footer-tail row p-3">
            <div class ="col-6 copyright">
                <div class="row align-item-center">
                    <div class="col" style="color: #0D7ECD;">
                        © 2022 skilllab.onschool.edu.vn. All rights reserved.
                    </div>
                </div>
            </div>
            <div class="col-6 social-media">
                <div class="row justify-content-end align-item-center">
                    <div class="col-1">
                        <a href=""><img class="w-100" src="../../assets/svg/footer-svg/ic_fb.svg" alt=""></a>
                    </div>
    
                    <div class="col-1">
                        <a href=""><img class="w-100" src="../../assets/svg/footer-svg/ic_ins.svg" alt=""></a>
                    </div>
                    
                    <div class="col-1">
                        <a href=""><img class="w-100" src="../../assets/svg/footer-svg/ic_youtube.svg" alt=""></a>
                    </div>
    
                    <div class="col-1">
                        <a href=""><img class="w-100" src="../../assets/svg/footer-svg/ic_in.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

